@import 'colors-styles';
@import 'fonts-styles';


@mixin cardProductStyle {
    color: #1fbdb7;
    font-family: $font-family;
    background-color: #1fbdb7 !important;
    border-color: $fontColorBody !important;
    border-width: 2px !important;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
}